{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Сервис коротких ссылок{% endblock %}

{% block h1 %}Сервис коротких ссылок{% endblock %}

{% block body %}
    <div style="margin: 40px 0 0 0;">
       <div class="add-form-container">
           <div class="float-left add-form-title">Введите оригинальную ссылку:</div>
           <div class="float-left add-form-input-container">
               <div><input class="add-form-input" type="text" placeholder="https://www.google.com/doodles"></div>
           </div>
           <div class="float-left add-form-button-container">
               <button class="btn btn-primary add-form-button">Создать ссылку</button>
           </div>
           <div class="float-left add-form-loader-container">
               <img class="add-form-loader" alt="Загрузка даных" src="{{ asset('img/ajax-loader.gif') }}">
           </div>
           <div class="clear"></div>
       </div>

        <div class="links-table-container">
            <table class="table links-table">
                <tr>
                    <th>Оригинальная ссылка</th>
                    <th>Короткая ссылка</th>
                    <th>Дата генерации</th>
                    <th style="width: 30px;"></th>
                </tr>
                <tbody class="links-tbody">
                {% for link in links %}
                    <tr>
                        <td><a href="{{ link.url }}" target="_blank">{{ link.url }}</a></td>
                        <td><a href="{{ path('app_redirect', {code : link.code }) }}" target="_blank">{{ link.code }}</a></td>
                        <td>{{ link.date }}</td>
                        <td><a title="Удалить короткую ссылку" href="{{ path('links_delete', {id : link.id}) }}" class="cursor-pointer remove-button" data-item-id="{{ link.id }}"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
