.float-left{
    float: left;
}

.float-right{
    float: right;
}

.clear{
    clear: both;
}

.cursor-pointer{
    cursor: pointer;
}

.ajax-load{
    margin: 5px 0 0 10px;
    display: none;
}

.back-link{
    margin: 20px 0 0 0;
    display: inline-block;
}

.add-form-container{
    background: #ededed;
    padding: 15px;
    border: 1px solid #a6a6a6;
    margin: 0 0px 20px 0;
    display: inline-block;
}

.add-form-title{
    font-size: 18px;
}

.add-form-input-container input{
    padding: 5px;
    width: 350px;
    margin: 0 20px;
    border-radius: 5px;
}

.add-form-loader-container{
    margin: 7px 0 0 10px;
    width: 30px;
}

.add-form-loader{
    display: none;
}